<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
    </div>
  </div>


  <mat-list fxFlex>
      <mat-list-item *ngFor="let dish of dishes">
        <img matListAvatar src={{dish.image}} alt={{dish.name}}>
        <h1 matLine> {{dish.name}} </h1>
        <p matLine>
          <span> {{dish.description}} </span>
        </p>
      </mat-list-item>
    </mat-list>

  <div fxFlex>
      <mat-grid-list cols="2" rowHeight="200px">
        <mat-grid-tile *ngFor="let dish of dishes">
          <img height="200px" src="{{dish.image}}"  alt="{{dish.name}}">
          <mat-grid-tile-footer>
            <h1 matline >{{dish.name | uppercase}}</h1>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  
  <app-dishdetail></app-dishdetail>
  <div fxFlex>
      <div>
        <h3>Comments</h3>
      </div>
    </div>
  
  <div fxFlex>
      <mat-list fxFlex>
          <mat-list-item *ngFor="let comment of comments">
                <p matLine ><span>{{comment.text_comment}}</span><br/>
            <span>{{comment.rate}} stars</span><br/>
          <span>--- {{comment.commenter}}</span></p>
        </mat-list-item>
      </mat-list>
      </div>
  


</div>
